/**
 * @name aqua2
 * @author Hawk#4872
 * @version 1
 * @description A highly customizable theme based off of the OperaGX browser.
 * @source https://github.com/L-Ratio/OperaGXTheme
 * @invite Xn7UUQUHbN
 * @BDEditor OperaGX Theme
*/

@import url('https://l-ratio.github.io/OperaGXTheme/release/main.css');

:root {
  --background: url('https://i.imgur.com/PDs3AWP.gif');
  --background-behind-appmount: 8, 5, 14;
  --background-accent-color-1: 222,67,100,0;
  --accent-color-1: 177,144,252;
  --accent-color-2: 222,67,100;
  --border-brightness: 1;
  --dark-background-color: 18, 16, 25 ;
  --darker-background-color: 8, 5, 14;
  --wintitlebar-transparency: 0.7;
  --header-transparency: 0.5;
  --serverlist-transparency: 0.5;
  --channels-transparency: 0.5;
  --chat-transparency: 0.5;
  --memberlist-transparency: 0.5;
  --wintitlebar-background-blur: 5px;
  --header-background-blur: 5px;
  --serverlist-background-blur: 0px;
  --channels-background-blur: 0px;
  --chat-background-blur: 0px;
  --memberlist-background-blur: 0px;
  --customFont: Chakra Petch;
  --codeBlocksCustomFont: Chakra Petch;
  --fullwhite-font: 250, 253, 255;
  --normal-font: 201, 203, 206;
  --normal-hover-font: 238, 239, 240;
  --muted-font: 114, 118, 125;
  --link-text: 0, 176, 244;
  --gx-red: 181,32,63 ;
  --gx-red-2: 181,32,63 ;
  --gx-yellow: 234, 234, 34  ;
  --gx-yellow-2: 255, 255, 68 ;
  --gx-green: 0, 212, 81 ;
  --gx-green-2: 0, 255, 129 ;
  --font-in-accent: 0, 0, 0  ;
  --category-name-transform: unset;
  --chatbox-transparency: 1;
  --chatbox-focused-transparency: 1;
  --other-highlighted-transparency: 1;
  --other-transparency: 1;
  --wintitlebar-transparency-color: var(--dark-background-color) ;
  --wintb-focused-alpha: 1;
  --wintb-focused-color: var(--darker-background-color);
  --header-transparency-color: var(--dark-background-color);
  --serverlist-transparency-color: var(--dark-background-color);
  --channels-transparency-color: var(--dark-background-color);
  --chat-transparency-color: var(--dark-background-color);
  --memberlist-transparency-color: var(--dark-background-color);
}

/* Any custom CSS below here */


