/**
 * @name The Seasons of Koko
 * @author リョウスケ#7300
 * @version 1.0
 * @description The Seasons of Koko Theme
 * @authorId 309952899272802306
 * @source https://vsthemes.org/en/user/RYUUSEI/
*/
@import url('https://discordstyles.github.io/FrostedGlass/dist/FrostedGlass.css');
@import url('https://discordstyles.github.io/HorizontalServerList/dist/HorizontalServerList.css');
@import url('https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css');
@import url('https://discordstyles.github.io/Addons/windows-titlebar.css');

:root {
  --background-image: url('https://i.imgur.com/HaluAG9.jpg');
  --background-blur: 0px;
  --background-darkness: 0.55;
  --popout-modal-image: url('https://i.imgur.com/2SLO1X9.jpg');
  --popout-modal-blur: 1px;
  --popout-modal-size: cover;
  --popout-modal-position:  bottom;
  --home-button-image: url('https://i.imgur.com/TKiJY4u.jpg');
  --home-button-size: cover;
  --home-button-position: center;
  --main-color: #007dbd;
  --hover-color: #03679b;
  --roundness: 50px;
  --shadow: rgba(0,0,0,.4);
  --serverlist-brightness: 0.29;
  --left-brightness: 0.6;
  --middle-brightness: 0.29;
  --right-brightness: 0.6;
  --popout-modal-brightness: 0;
  --gradient-primary: 0,191,255;
  --gradient-secondary: 25,25,25;
  --link-colour: #00b0f4;
  --scrollbar-colour: rgba(72,209,204);
  --gradient-direction: 185deg;
  --tint-colour: 255,51,159;
  --tint-brightness: 0;
  --font: 'Whitney';
  --window-padding: 6px;
  --window-roundness: 10px;
  --update-notice-1: none;
  --HSL-server-icon-size: 40px;
  --HSL-server-spacing: 10px;
  --rs-small-spacing: 1px;
  --rs-medium-spacing: 1px;
  --rs-large-spacing: 4px;
  --rs-small-width: 1px;
  --rs-medium-width: 3px;
  --rs-large-width: 3px;
  --rs-avatar-shape: 30%;
  --rs-online-color: #43b581;
  --rs-idle-color: #faa61a;
  --rs-dnd-color: #f04747;
  --rs-offline-color: #636b75;
  --rs-streaming-color: #643da7;
  --rs-phone-visible: block;
  --rs-offline-color: #636b75;
  --rs-streaming-color: #643da7;
  --rs-phone-visible: block;
}